@page
@model Frontend.Pages.Registros.Editar

@{
    ViewData["Title"] = "Editar";
}

<!DOCTYPE html>

<html>
<head>
    <title>Editar</title>
        <style>
            section::after {
              content: "";
              display: table;
              clear: both;
            }
        </style>    
</head>
<body>
<h3 class="display-5">Editar Informacion</h3>
<div>
    @{
        if (Model.nino!=null)
        {
            <form method="post">
                <label for="cc">Id:</label>
                <input type="text" id="cc" name="cc" value="@Model.nino.Id" readonly><br>
                <label for="genere">Genero: </label>
                <input type="radio" id="male" name="genere" value="0">
                <label for="male">Masculino </label>
                <input type="radio" id="female" name="genere" value="1">
                <label for="female">Femenino </label><br>

                <label for="names">Nombres*: </label><br>
                <input type="text" id="names" name="names" pattern="[a-zA-Z\s]+" value="@Model.nino.Nombre" style="width: 90%"><br>

                <label for="lastnames">Apellidos*: </label><br>
                <input type="text" id="lastnames" name="lastnames" pattern="[a-zA-Z\s]+" value="@Model.nino.Apellido" style="width: 90%"><br>

                <label for="document">Documento*: </label><br>
                <input type="text" id="document" name="document" pattern="[0-9]+" value="@Model.nino.Documento" style="width: 90%"><br>

                <label for="phone">Telefono*: </label><br>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" value="@Model.nino.Telefono" style="width: 90%"><br>
                <small>(Ejemplo: 3001115588 o 6027223344)</small><br>

                <label for="address">Direccion*: </label><br>
                <input type="text" id="address" name="address" value="@Model.nino.Direccion" style="width: 90%"><br>

                <label for="latitude">Latitud: </label><br>
                <input type="text" id="latitude" name="latitude" value="0" style="width: 90%"><br>

                <label for="longitude">Longitud: </label><br>
                <input type="text" id="longitude" name="longitude" value="0" style="width: 90%"><br>

                <label for="city">Ciudad*: </label><br>
                <input type="text" id="city" name="city" pattern="[a-zA-Z\s]+" value="@Model.nino.Ciudad" style="width: 90%"><br>

                <label for="birthday">Fecha de Nacimiento*: </label><br>
                <input type="date" id="birthday" name="birthday" min="1900-01-01" max=@Model.fechahoy><br><br>

                <input type="submit" id="Guardar" name="Guardar" value="Guardar"><br><br>
            </form>
            <a asp-page="./Pacientes">
                <span class="material-icons">reply</span>
            </a>
            
        }else if (Model.medico!=null)
        {
            <form method="post">
                <label for="cc">Id:</label>
                <input type="text" id="cc" name="cc" value="@Model.medico.Id" readonly><br>
                <label for="genere">Genero: </label><br>
                <input type="radio" id="male" name="genere" value="0">
                <label for="male">Masculino </label>
                <input type="radio" id="female" name="genere" value="1">
                <label for="female">Femenino </label><br>

                <label for="names">Nombres*: </label><br>
                <input type="text" id="names" name="names" pattern="[a-zA-Z\s]+" value="@Model.medico.Nombre" style="width: 90%"><br>

                <label for="lastnames">Apellidos*: </label><br>
                <input type="text" id="lastnames" name="lastnames" pattern="[a-zA-Z\s]+" value="@Model.medico.Apellido" style="width: 90%"><br>

                <label for="document">Documento*: </label><br>
                <input type="text" id="document" name="document" pattern="[0-9]+" value="@Model.medico.Documento" style="width: 90%"><br>

                <label for="phone">Telefono*: </label><br>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" value="@Model.medico.Telefono" style="width: 90%"><br>
                <small>(Ejemplo: 3001115588 o 6027223344)</small><br>

                <label for="code">Codigo*: </label><br>
                <input type="text" id="code" name="code" value="@Model.medico.Codigo" style="width: 90%"><br>

                <label for="speciality">Especialidad: </label><br>
                <input type="radio" id="pedi" name="speciality" value="0">
                <label for="pedi">Pediatra </label>
                <input type="radio" id="nutri" name="speciality" value="1">
                <label for="nutri">Nutricionista </label><br>

                <label for="rethus">Registro Rethus*: </label><br>
                <input type="text" id="rethus" name="rethus" value="@Model.medico.RegistroRethus" style="width: 90%"><br><br>

                <input type="submit" value="Guardar"><br><br>
            </form>
            <a asp-page="./Medicos">
                <span class="material-icons">reply</span>
            </a>
        }else if (Model.familiar!=null){
            <form method="post">
                <label for="cc">Id:</label>
                <input type="text" id="cc" name="cc" value="@Model.familiar.Id" readonly><br>
                <label for="genere">Genero: </label>
                <input type="radio" id="male" name="genere" value="0">
                <label for="male">Masculino </label>
                <input type="radio" id="female" name="genere" value="1">
                <label for="female">Femenino </label><br>

                <label for="names">Nombres*: </label><br>
                <input type="text" id="names" name="names" pattern="[a-zA-Z\s]+" value="@Model.familiar.Nombre" style="width: 90%"><br>

                <label for="lastnames">Apellidos*: </label><br>
                <input type="text" id="lastnames" name="lastnames" pattern="[a-zA-Z\s]+" value="@Model.familiar.Apellido" style="width: 90%"><br>

                <label for="document">Documento*: </label><br>
                <input type="text" id="document" name="document" pattern="[0-9]+" value="@Model.familiar.Documento" style="width: 90%"><br>

                <label for="phone">Telefono*: </label><br>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" value="@Model.familiar.Telefono" style="width: 90%"><br>
                <small>(Ejemplo: 3001115588 o 6027223344)</small><br>
                
                <label for="relationship">Parentesco*: </label><br>
                <input type="text" id="relationship" name="relationship" pattern="[a-zA-Z\s]+" value="@Model.familiar.Parentesco" style="width: 90%"><br>
                        
                <label for="e-mail">Correo*: </label><br>
                <input type="email" id="e-mail" name="e-mail" value="@Model.familiar.Correo" style="width: 90%"><br>
                
                <input type="submit" value="Guardar"><br>
                
            </form>

            <a asp-page="./Familiares">
                <span class="material-icons">reply</span>
            </a>
        }else if (Model.historia!=null){
            <form method="post">
                <label for="cc">Id:</label>
                <input type="text" id="cc" name="cc" value="@Model.historia.Id" readonly><br>            
                <label for="paciente">Paciente*:</label><br>
                <select name="paciente" style="width: 90%">
                    <option value="0">[Seleccion un opción]</option>
                    @foreach (var i in Model.ninos)
                    {
                        if (Model.historia.idNino==i.Id)
                        {
                            <option value="@i.Id" selected>@i.Nombre @i.Apellido</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Nombre @i.Apellido</option>
                        }                        
                    }
                </select><br>
                <label for="familiar">Familiar*:</label><br>
                <select name="familiar" style="width: 90%">
                    <option value="0">[Seleccion un opción]</option>
                    @foreach (var i in Model.familiares)
                    {
                        if (Model.historia.idFamiliar==i.Id)
                        {
                            <option value="@i.Id" selected>@i.Nombre @i.Apellido</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Nombre @i.Apellido</option>
                        }
                    }
                </select><br>
                <label for="medicos">Medico*:</label><br>
                <select name="medico" style="width: 90%">
                    <option value="0">[Seleccion un opción]</option>
                    @foreach (var i in Model.medicos)
                    {
                        if (Model.historia.idMedico==i.Id)
                        {
                            <option value="@i.Id" selected>@i.Nombre @i.Apellido</option>
                        }
                        else
                        {
                            <option value="@i.Id">@i.Nombre @i.Apellido</option>
                        }                        
                    }
                </select><br>
                <label for="diagnostico">Diagnostico:</label><br>
                @*<input type="text" name="diagnostico" id="diagnostico" style="width: 90%"><br>*@
                <textarea name="diagnostico" id="diagnostico" style="width: 90%" cols="30" rows="5">@Model.historia.Diagnostico</textarea>
                <br>
                <input type="submit" value="Guardar">
            </form>            

            <a asp-page="./Asignacion">
                <span class="material-icons">reply</span>
            </a>
        }
    }
</div>
        @{
            switch (Model.mensaje)
            {
                case 1:
                    <script>
                    window.alert("Longitudo, Latitud y/o Fecha de nacimiento invalida")
                    </script>
                    Model.mensaje = 0;
                    break;

                case 2:
                    <script>
                    window.alert("No puede dejar vacios campos obligatorios*")
                </script>
                    Model.mensaje = 0;
                    break;

                case 3:
                    <script>
                    window.alert("Informacion guardada con exito!")
                </script>
                    Model.mensaje = 0;
                    break;
            }
        }
</body>
</html>