@page
@model Frontend.Pages.Registros.Informacion

@{
    ViewData["Title"] = "Informacion";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="css/Formularios.css">
    <title>Informacion</title>
</head>
<body>
    <h3 class="display-5">Informacion Detallada</h3>
<div>
    @{
        if (Model.historia!=null)
        {
            <table class="table">
                <tr>
                    <th>Id:</th><td>@Model.historia.Id</td>
                </tr>
                <tr>
                    <th>Paciente:</th><td id="pac">No Asignado</td>
                        @if (!(Model.nino.Nombre + Model.nino.Apellido).Equals(""))
                        {
                            <script>
                                document.getElementById("pac").innerHTML = "@Model.nino.Nombre @Model.nino.Apellido";
                            </script>                            
                        }                    
                </tr>
                <tr>
                    <th>Familiar:</th><td id="fam">No Asignado</td>
                        @if (!(Model.familiar.Nombre + Model.familiar.Apellido).Equals(""))
                        {
                            <script>
                                document.getElementById("fam").innerHTML = "@Model.familiar.Nombre @Model.familiar.Apellido";
                            </script>                            
                        }                    
                </tr>
                <tr>
                    <th>Medico:</th><td id="med">No Asignado</td>
                        @if (!(Model.medico.Nombre + Model.medico.Apellido).Equals(""))
                        {
                            <script>
                                document.getElementById("med").innerHTML = "@Model.medico.Nombre @Model.medico.Apellido";
                            </script>                            
                        }                    
                </tr>
                <tr>
                    <th>Diagnostico:</th><td>@Model.historia.Diagnostico</td>
                </tr>
                <tr>
                    <th>Sugerencias:</th><td>@Model.historia.idSugerenciasCuidado</td>
                </tr>
            </table>
            <a asp-page="./Asignacion">
                <span class="material-icons">reply</span>
            </a>
        }else if (Model.nino!=null)
        {
            <table class="table">
                <tr>
                    <th>Id:</th><td>@Model.nino.Id</td>
                </tr>
                <tr>
                    <th>Nombres:</th><td>@Model.nino.Nombre</td>
                </tr>
                <tr>
                    <th>Apellidos:</th><td>@Model.nino.Apellido</td>
                </tr>
                <tr>
                    <th>Documento:</th><td>@Model.nino.Documento</td>
                </tr>
                <tr>
                    <th>Genero:</th><td>@Model.nino.Genero</td>
                </tr>
                <tr>
                    <th>Telefono:</th><td>@Model.nino.Telefono</td>
                </tr>
                <tr>
                    <th>Fecha de Nacimiento:</th><td>@Model.nino.Nacimiento.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <th>Direccion:</th><td>@Model.nino.Direccion</td>
                </tr>
                <tr>
                    <th>Ciudad:</th><td>@Model.nino.Ciudad</td>
                </tr>
                <tr>
                    <th>Latitud:</th><td>@Model.nino.Latitud.ToString()</td>
                </tr>
                <tr>
                    <th>Longitud:</th><td>@Model.nino.Longitud.ToString()</td>
                </tr>
            </table>
            <a asp-page="./Pacientes">
                <span class="material-icons">reply</span>
            </a>
        }else if (Model.familiar!=null)
        {
            <table class="table">
                <tr>
                    <th>Id:</th><td>@Model.familiar.Id</td>
                </tr>
                <tr>
                    <th>Nombres:</th><td>@Model.familiar.Nombre</td>
                </tr>
                <tr>
                    <th>Apellidos:</th><td>@Model.familiar.Apellido</td>
                </tr>
                <tr>
                    <th>Documento:</th><td>@Model.familiar.Documento</td>
                </tr>
                <tr>
                    <th>Genero:</th><td>@Model.familiar.Genero</td>
                </tr>
                <tr>
                    <th>Telefono:</th><td>@Model.familiar.Telefono</td>
                </tr>
                <tr>
                    <th>Parentesco:</th><td>@Model.familiar.Parentesco</td>
                </tr>
                <tr>
                    <th>Correo:</th><td>@Model.familiar.Correo</td>
                </tr>
            </table>
            <a asp-page="./Familiares">
                <span class="material-icons">reply</span>
            </a>
        }else if (Model.medico!=null)
        {
            <table class="table">
                <tr>
                    <th>Id:</th><td>@Model.medico.Id</td>
                </tr>
                <tr>
                    <th>Nombres:</th><td>@Model.medico.Nombre</td>
                </tr>
                <tr>
                    <th>Apellidos:</th><td>@Model.medico.Apellido</td>
                </tr>
                <tr>
                    <th>Documento:</th><td>@Model.medico.Documento</td>
                </tr>
                <tr>
                    <th>Genero:</th><td>@Model.medico.Genero</td>
                </tr>
                <tr>
                    <th>Telefono:</th><td>@Model.medico.Telefono</td>
                </tr>
                <tr>
                    <th>Codigo:</th><td>@Model.medico.Codigo</td>
                </tr>
                <tr>
                    <th>Especialidad:</th><td>@Model.medico.Especialidad</td>
                </tr>
                <tr>
                    <th>Rethus:</th><td>@Model.medico.RegistroRethus</td>
                </tr>
            </table>
            <a asp-page="./Medicos">
                <span class="material-icons">reply</span>
            </a>
        }
    }
</div>
</body>
</html>