@page
@using System.Security.Principal
@model Frontend.Pages.Registros.Pacientes

@{
    ViewData["Title"] = "Pacientes";
}

<!DOCTYPE html>

<html>
<head>
    <title>Pacientes</title>
    <link rel="stylesheet" href="css/Formularios.css">
    <style>
        section::after {
          content: "";
          display: table;
          clear: both;
        }
    </style>

</head>
<body>
<section>
    <article style="float: left;width: 35%">
        <h3 class="display-5">Registro de Pacientes</h3>
        <form method="post">
            <label for="genere">Genero: </label><br>
            <input type="radio" id="male" name="genere" value="0">
            <label for="male">Masculino </label>
            <input type="radio" id="female" name="genere" value="1">
            <label for="female">Femenino </label><br>

            <label for="names">Nombres*: </label><br>
            <input type="text" id="names" name="names" pattern="[a-zA-Z\s]+" style="width: 90%"><br>

            <label for="lastnames">Apellidos*: </label><br>
            <input type="text" id="lastnames" name="lastnames" pattern="[a-zA-Z\s]+" style="width: 90%"><br>

            <label for="document">Documento*: </label><br>
            <input type="text" id="document" name="document" pattern="[0-9]+" style="width: 90%"><br>

            <label for="phone">Telefono*: </label><br>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" style="width: 90%"><br>
            <small>(Ejemplo: 3001115588 o 6027223344)</small><br>

            <label for="address">Direccion*: </label><br>
            <input type="text" id="address" name="address" style="width: 90%"><br>

            <label for="latitude">Latitud: </label><br>
            <input type="text" id="latitude" name="latitude" value="0" style="width: 90%"><br>

            <label for="longitude">Longitud: </label><br>
            <input type="text" id="longitude" name="longitude" value="0" style="width: 90%"><br>

            <label for="city">Ciudad*: </label><br>
            <input type="text" id="city" name="city" pattern="[a-zA-Z\s]+" style="width: 90%"><br>

            <label for="birthday">Fecha de Nacimiento*: </label><br>
            <input type="date" id="birthday" name="birthday" min="1900-01-01" max=@Model.fechahoy><br><br>

            <input type="submit" id="Registrar" name="Registrar" value="Registrar"><br><br>
        </form>
        @{
            switch (Model.mensaje)
            {
                case 1:
                    <script>
                    window.alert("Longitudo, Latitud y/o Fecha de nacimiento invalida")
                </script>
                    Model.mensaje = 0;
                    break;

                case 2:
                    <script>
                    window.alert("No puede dejar vacios campos obligatorios*")
                </script>
                    Model.mensaje = 0;
                    break;

                case 3:
                    <script>
                    window.alert("Paciente registrado con exito!")
                </script>
                    Model.mensaje = 0;
                    break;
            }
        }

    </article>
    <aside style="float: left;width: 65%">
        <h3 class="display-5">Lista de Pacientes</h3>
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Fecha de Nacimiento</th>
                <th>Direccion</th>
                <th>Opciones</th>
            </tr>
            @foreach (var n in Model.ninos)
            {
                <tr>
                    <td>@n.Nombre @n.Apellido</td>
                    <td>@n.Documento</td>
                    <td>@n.Nacimiento.ToString("dd/MM/yyyy")</td>
                    <td>@n.Direccion</td>
                    <td>
                        <a asp-page="./Informacion" asp-route-id="@n.Documento" asp-route-tipo="nino">
                            <span class="material-icons">
                                info
                            </span>
                        </a>
                        <a asp-page="./Editar" asp-route-id="@n.Documento" asp-route-tipo="nino">
                            <span class="material-icons">
                                edit
                            </span>
                        </a>
                        <a asp-page="./Borrar" asp-route-id="@n.Documento" asp-route-tipo="nino">
                            <span class="material-icons">
                                delete
                            </span>
                        </a>
                        <a asp-page="./AsignacionPaciente" asp-route-id="@n.Id">
                            <span class="material-icons">
                                assignment
                            </span>
                        </a>
                        
                    </td>
                </tr>
            }
        </table>
    </aside>
</section>
<footer>
    <h3 class="display-5">Consultar Paciente</h3>
    <form method="post">
        <label for="iden">Ingrese el documento: </label>
        <input type="text" id="iden" name="iden" pattern="[0-9]+" required>

        <input type="submit" id="Consultar" name="Consultar" value="Consultar">
    </form>
    @if (Model.ninobuscado != null)
    {
        <table class="table">
            <tr>
                <th>Id:</th><td>@Model.ninobuscado.Id</td>
            </tr>
            <tr>
                <th>Nombres:</th><td>@Model.ninobuscado.Nombre</td>
            </tr>
            <tr>
                <th>Apellidos:</th><td>@Model.ninobuscado.Apellido</td>
            </tr>
            <tr>
                <th>Documento:</th><td>@Model.ninobuscado.Documento</td>
            </tr>
            <tr>
                <th>Genero:</th><td>@Model.ninobuscado.Genero</td>
            </tr>
            <tr>
                <th>Telefono:</th><td>@Model.ninobuscado.Telefono</td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento:</th><td>@Model.ninobuscado.Nacimiento.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <th>Direccion:</th><td>@Model.ninobuscado.Direccion</td>
            </tr>
            <tr>
                <th>Ciudad:</th><td>@Model.ninobuscado.Ciudad</td>
            </tr>
            <tr>
                <th>Latitud:</th><td>@Model.ninobuscado.Latitud.ToString()</td>
            </tr>
            <tr>
                <th>Longitud:</th><td>@Model.ninobuscado.Longitud.ToString()</td>
            </tr>
            <tr><th>Opciones:</th><td>
                <a asp-page="./Informacion" asp-route-id="@Model.ninobuscado.Documento" asp-route-tipo="nino">
                    <span class="material-icons">
                        info
                    </span>
                </a>
                <a asp-page="./Editar" asp-route-id="@Model.ninobuscado.Documento" asp-route-tipo="nino">
                    <span class="material-icons">
                        edit
                    </span>
                </a>
                <a asp-page="./Borrar" asp-route-id="@Model.ninobuscado.Documento" asp-route-tipo="nino">
                    <span class="material-icons">
                            delete
                    </span>
                </a>
                <a asp-page="./AsignacionPaciente" asp-route-id="@Model.ninobuscado.Id">
                    <span class="material-icons">
                            assignment
                    </span>
                </a>
                    
            </td>
                </tr>
        </table>
    }
    else
    {
        if (Model.mensaje == 4)
        {
            <script>
                window.alert("Paciente no encontrado")
            </script>
            Model.mensaje = 0;
        }
    }
</footer>
</body>
</html>